[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pygments = "*"
djangorestframework-jwt = "*"

[dev-packages]
httpie = "*"

[requires]
python_version = "3.7"
